@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");

* {
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  /* background-color: #eee; */
}

.container {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #ced4d8;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-180deg, #4b9ada, #95b9d6 );
  border-radius: 1rem;
}


/* Nav Bar */
.header-flex-col {
  @apply hover:text-[#0390f5] text-slate-700 font-light hover:bg-gray-200 transition-all duration-300 cursor-pointer;
}

.background-home {
  background-image: url("./assets/images/banner_background.jpg");
}

.hover-item button {
  transition: 0.3s all;
  opacity: 0;
  transform: translateY(0px);
  visibility: hidden;
}

.hover-item:hover button {
  visibility: visible;
  opacity: 1;
  transform: translateY(-5px);
}

.hover-item:hover img {
  transition: 0.5s all;
  transform: scale(1.3);
}

.scale-img img {
  transition: 0.3s all;
}
.scale-img:hover img {
  transform: scale(1.3);
}

.bg-slider {
  background: url("assets/images/banner_2_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-fixed {
  @apply pt-8 fixed top-0 left-0 right-0 bg-white z-[45] transition-all duration-500 md:px-[100px];
  box-shadow: 0px 3px 16px 0px #b7b7b7;
}

* {
  cursor: url(chrome-extension://ckejmhbmlajgoklhgbapkiccekfoccmk/assets/pictos/cursor.png)
      17 17,
    pointer !important;
}


.position-cart {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(50%, 0%);
}
/* ----------------> Start Section The Animations <----------------*/
.move-svg {
  animation: moveSVG 10s infinite alternate;
}
@keyframes moveSVG {
  0%,
  40%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%,
  60%,
  90% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

.heart {
  font-size: 30px;
  animation: fall 1s 1 linear forwards;
  position: fixed;
  top: 0;
  left: 300px;
}

@keyframes fall {
  0% {
    transform: translateY(-5vh);
  }

  100% {
    transform: translateY(110vh);
  }
}

.animation-card {
  animation: failed-operation 0.25s 3 alternate;
  overflow: hidden;
}

@keyframes failed-operation {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.object-fit {
  object-fit: contain;
  -webkit-object-fit: contain;
}

.hidden-route {
  display: none !important;
}

.cart-product {
  @apply absolute top-9 -left-24 md:-left-24 w-36 md:w-52 bg-white z-10 border-2 md:py-2 md:px-4 py-1 px-2;
  transition: 0.5s all;
  animation: show-product 2s 1 alternate;
  overflow-y: scroll;
  height: 300px;
  border-radius: 15px;
}
.cart-product div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 5px 5px;
}
.cart-product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@keyframes show-product {
  0% {
    opacity: 0;
    top: 2.6rem;
  }
  100% {
    opacity: 1;
    top: 2.5rem;
  }
}

.show-div:hover h5 {
  display: block;
}
/* Start Section The Animations */

.order-2 {
  order: 3;
}
